#mobile .tsb-box-show {
  background: #2e2e2e;
}
#mobile .tsb-box-show .form-horizontal {
  width: 600px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}
#mobile .tsb-box-show .form-horizontal .form-group {
  margin-bottom: 20px;
}
#mobile .tsb-box-show .widget {
  min-height: 150px;
}
