<div id="mobile">
    <div class="content_title">
        <ul class="bread-crumb">
            <li>管理</li>
            <li>&gt;</li>
            <li>密码设置</li>
        </ul>
    </div>
    <div class="padding-lr-16 tsb-main">
        <div class="tsb-box-show">
            <div class="tsb-texture-title">
                密码设置
                <div class="tsb-btn-group pull-right">
                    <button class="btn btn-blue border-radius20" ng-click="save(updatePass.$valid)">保存</button>
                    <a href="#/navigation/personal/accountInfo" class="btn btn-gray border-radius20 margin-l-5">取消</a>
                </div>
            </div>
            <div class="widget padding-16">
                <form class="form-horizontal" ng-show="!saveStatus" name="updatePass" novalidate>
                    <div class="form-group" ng-class="{'has-error':updatePass.old.$dirty&&updatePass.old.$error.required}">
                        <label class="col-sm-2 control-label">原密码:</label>

                        <div class="col-sm-10">
                            <input name="old" required
                                   ng-model="pass.old"
                                   type="password" class="form-control" placeholder="请输入密码" aria-describedby="helpBlock1">
                            <span ng-show="updatePass.old.$dirty&&updatePass.old.$error.required"
                                  class="help-block">请输入原密码</span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error':updatePass.new.$dirty&&(updatePass.new.$error.required||updatePass.new.$error.minlength||!newPattern)}">
                        <label class="col-sm-2 control-label">新密码:</label>

                        <div class="col-sm-10">
                            <input name="new" required ng-minlength="6"
                                   ng-model="pass.new" ng-keyup="newChange(updatePass.new.$valid)"
                                   type="password" class="form-control" placeholder="请输入密码">

                            <div class="strongWeak" ng-class="currentWeek.text" ng-show="updatePass.new.$dirty&&updatePass.new.$valid&&newPattern">
                                <span ng-repeat="weekItem in weekColor" class="{{getClass($index)}}"></span>
                                {{currentWeek.name}}
                            </div>
                            <span ng-show="updatePass.new.$dirty&&updatePass.new.$error.required" class="help-block">新密码不能为空</span>
                            <span ng-show="updatePass.new.$dirty&&updatePass.new.$error.minlength" class="help-block">密码最少为6位</span>
                            <span ng-show="updatePass.new.$dirty&&updatePass.new.$valid&&!newPattern" class="help-block">密码必须包含字母数字特殊字符的任意两种组合</span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error':updatePass.repeat.$dirty&&pass.repeat!=pass.new}">
                        <label class="col-sm-2 control-label">重复密码:</label>

                        <div class="col-sm-10">
                            <input name="repeat" required
                                   ng-model="pass.repeat"
                                   type="password" class="form-control" placeholder="请输入密码" aria-describedby="helpBlock3">
                            <span ng-show="updatePass.repeat.$dirty&&pass.repeat!=pass.new" class="help-block">您输入的密码与确认密码不一致</span>
                        </div>
                    </div>
                </form>
                <!--保存成功之后显示完成修改成功的代码-->
                <div class="finish-state" ng-show="saveStatus">
                    <div class="text"><i class="icon-finish"></i>密码修改成功</div>
                    <div class="tsb-btn-group">
                        <a href="#/navigation/personal/accountInfo" class="btn btn-gray border-radius20 padding-lr-16">完成</a>
                    </div>
                </div>
                <!--保存成功之后显示完成修改成功的代码-->
            </div>
        </div>
    </div>
</div>