<div class="clearfix" data-table>
    <table class="table">
        <thead>
        <tr>
            <th ng-repeat="h in config.head track by $index"
                data-item="{{h.field}}"
                width="{{h.width||'auto'}}"
                ng-class="h.clazz">{{h.name}}
            </th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <!-- 分页控件指令 ，可以是元素 或者 属性 -->
    <div class="PageList" oc-lazy-load="['pageList']">
        <div page-list change="changePage(currentPage,perPage)"
             page_no="{{page_no}}"
             total_row="total_row"
             sum_per_page="{{sum_per_page}}"></div>
    </div>
</div>