<div id="business">
    <div class="content_title" oc-lazy-load="['breadCrumbs','./public/components/apply/applyDirective/applyBreadCrumbs.js','./public/components/apply/applyDirective/applyTimer.js']" style="padding-right: 16px; padding-left: 16px;">
        <div apply-bread-crumbs style="float: left;background: #222222;padding: 0 20px;border-radius: 15px;margin-top: 4px;"></div>
        <!--日期过滤-->
        <div style="line-height: 32px;float: right;margin-top: 4px;" apply-timer></div>
    </div>

    <div ui-view></div>
</div>
